/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 60%;
    height: 80%;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    position:relative;
}

.tabs button {
    background: none;
    border: none;
    cursor: pointer;
}


#list-view-button {
    background-color: #f1b6dc;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    width: 180px; 
    height: 60px;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

#board-view-button {
    background-color: #d9adfe;
    border-left: 1px solid #000;
    border-bottom: 2px solid #000;
    width: 180px; 
    height: 60px;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    transform: translateX(-300%); 
}


.content {
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: center;
}

.list-view, .board-view {
    width: 100%;
    height: 100%;
    display: none;
}

.task-card {
    width: 150px;
    height: 100px;
    background-color: #e0e0e0;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.circle-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; /* Adjust the width and height for your image size */
    height: 50px;
    overflow: hidden;
    border-radius: 50%; /* Create a circular shape */
    background-color: #fff; /* Set background color for the circle */
    border: 2px solid #000; /* Add a border */
}

.circle-image img {
    width: 100%;
    height: auto;
    display: block;
}