.chart-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin: 0 auto; /* Add this line to center horizontally */
  display: flex;
  justify-content: center; /* Add this line to center horizontally */
  align-items: center; /* Add this line to center vertically */
}