/* BoardView.css */

.board-container {
    display: flex;
  }
  
  .board-list {
    background: lightgrey;
    padding: 8px;
    margin-right: 16px;
    width: 250px;
    display: flex;
    flex-direction: column; /* Display items vertically */
  }
  
  .board-item {
    user-select: none;
    padding: 16px;
    margin-bottom: 8px;
    background: grey;
  }
  
  .board-item-dragging {
    background: lightgreen;
  }
  