/* BoardView.css */

.board-container {
  display: flex;
  background: #6821eb00;
}



.board-list {
  background: #6821eb;
  padding: 8px;
  margin-right: 16px;
  width: 250px;
  display: flex;
  flex-direction: column; /* Display items vertically */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 250px; /* Set the maximum height for the scrollable list */
}

.board-item {
  user-select: none;
  padding: 16px;
  margin-bottom: 8px;
  background: #ca21eb;
}

.board-item-dragging {
  background: #da1e7985;
}
