/* client/src/App.css */
html,
body,
#root {
  
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  top:5%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: "#f1b6dc";
}

.chart-container {
  background-color: "#f1b6dc";
}

.box {
  flex: 1; /* To make it take up available space within the container */
  margin: 5%;
  padding-top: 5px; /* Add padding to the top */
  padding-bottom: 5px; /* Add padding to the bottom */
  border: 1px solid #ccc;
  overflow: auto; /* Enable scrolling when content overflows */
  max-height: 90%; /* Set a maximum height if needed */
}
