.dropDownMenu {
  order: 1px solid #ccc;
  padding: 8px;
  background-color: #fff;
  position: fixed;
  z-index: 100; /* Ensure it's above other elements */
  left: 50%;
  transform: translateX(-50%);
}

.dropDownMenu Div {
  cursor: pointer;
  padding: 8px;
  &:hover {
    background-color: #f0f0f0;
  }
}
